# These variables are only available to the Nuxt development server and build step!
# See backend/.env for Craft’s environment variables.

NUXT_SITE_NAME="Fantastic Devs"

NUXT_ENV=local
NUXT_BASE_URL=https://fantasticdevs.ddev.site
NUXT_CRAFT_URL=https://api.fantasticdevs.ddev.site
NUXT_GRAPHQL_TOKEN=
NUXT_TURNSTILE_KEY=
