# These variables are only available to the Nuxt development server and build step!
# See backend/.env for Craft’s environment variables.

NUXT_ENV=local
NUXT_SITE_NAME="Gaunte"

NUXT_BASE_URL=https://gaunte.ddev.site
NUXT_CRAFT_URL=https://cms.gaunte.ddev.site
NUXT_GRAPHQL_TOKEN=

NUXT_TURNSTILE_KEY=
