# Read about configuration, here:
# https://craftcms.com/docs/4.x/config/

CRAFT_ENVIRONMENT=local

CRAFT_SECURITY_KEY=dbac8b38df2a
CRAFT_APP_ID=CraftCMS--$CRAFT_ENVIRONMENT-$CRAFT_SECURITY_KEY

#### DATABASE
CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER="db"
CRAFT_DB_PORT="3306"
CRAFT_DB_DATABASE="db"
CRAFT_DB_USER="db"
CRAFT_DB_PASSWORD="db"
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

#### GENERAL
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_ALLOW_UPDATES=true
CRAFT_DISALLOW_ROBOTS=true
CRAFT_RUN_QUEUE_AUTOMATICALLY=true

#### SYSTEM
SYSTEM_STATUS=on
SYSTEM_NAME="Nuxt"

#### SITE
PRIMARY_SITE_NAME=$SYSTEM_NAME
PRIMARY_SITE_DOMAIN=starter-nuxt.ddev.site
PRIMARY_SITE_URL=https://starter-nuxt.ddev.site
CRAFT_BASE_CP_URL=https://api.starter-nuxt.ddev.site

#### CONFIG
EMAIL=starter-nuxt@gaunte.dev
PHONE=333-444-5555

#### FORM
FORM_TO=leowebguy@gmail.com

#### LICENSE
NEO_KEY=
NAV_KEY=
SEO_KEY=

#### TURNSTILE
TURNSTILE_KEY=0x4AAAAAAB-GblMAsuRg1SAB
TURNSTILE_SECRET=

#### S3
S3_KEY=
S3_SECRET=
S3_REGION=us-east-1
S3_URL=https://lwg-assets.s3.us-east-1.amazonaws.com
S3_BUCKET=lwg-assets
S3_SUBFOLDER=starter-nuxt
S3_BACKUPS_BUCKET=lwg-backups/starter-nuxt

#### MAILJET
#MAILJET_KEY=deaf3e08121d8a3bc1667e06a4286d31
#MAILJET_SECRET=

#### GMAIL
GMAIL_USR=leowebguy@gmail.com
GMAIL_PW=

######### LOCAL DEV

MAILPIT_SMTP_HOSTNAME="127.0.0.1"
MAILPIT_SMTP_PORT="1025"

GITHUB_AUTH=

CRAFT_WEB_ROOT="/var/www/html/backend/web"
